In [46]:
import numpy as np
import pandas as pd
fname = 'gr0.California'
with open(fname,'r') as f:
    data = f.readlines()
note_list = []
link_list = []
for line in data:
    line = line.strip().split(' ')
    if line[0] == 'n':
        note_list.append(line[1:])
    if line[0] == 'e':
        link_list.append(line[1:])
df_note = pd.DataFrame({'link': [ i[1] for i in note_list]},index = range(len(note_list)))
df_link = pd.DataFrame({'source_link': [ i[0] for i in link_list],'target_link ': [ i[1] for i in link_list]})
df_note.to_csv('note_list.csv', sep=',')
df_link.to_csv('link_list.csv', sep=',')

In [12]:
# print(df.link)

0                                http://www.berkeley.edu/
1                                 http://www.caltech.edu/
2                           http://www.realestatenet.com/
3                                    http://www.ucsb.edu/
4       http://www.washingtonpost.com/wp-srv/national/...
5                        http://www-ucpress.berkeley.edu/
6                                     http://www.ucr.edu/
7                       http://www.tegnetcorporation.com/
8       http://www.research.digital.com/SRC/virtual-to...
9                    http://www.leginfo.ca.gov/calaw.html
10                                   http://www.csun.edu/
11                                http://www.calpoly.edu/
12                                 http://www.calbar.org/
13         http://ideas.uqam.ca/ideas/data/fthcalaec.html
14                                 http://www.sen.ca.gov/
15                              http://www.csupomona.edu/
16                               http://www.csuchico.edu/
17                             http://www.calacademy.org/
18                                   http://cwis.usc.edu/
19                       http://www.usc.edu/CMSI/CalifSF/
20                                   http://www.csus.edu/
21                                  http://www.csulb.edu/
22                            http://www.cs.berkeley.edu/
23                             http://www.calstatela.edu/
24                               http://www.calbears.com/
25                                    http://www.azc.com/
26                            http://goldmine.cde.ca.gov/
27                                 http://gocalif.ca.gov/
28               http://www.garlic.com/california/ca.html
29                              http://www.csufresno.edu/
                              ...
9634             http://bluesky.iwn.com/donner/skiing.htm
9635           http://www.carolinacorner.com/skirepor.htm
9636                        http://www.kpaw.com/links.htm
9637                            http://www.snowtales.com/
9638            http://www.exportmiami.com/directory.html
9639    http://www.csua.berkeley.edu/~egwall/company.html
9640                     http://www.nafta.net/bizdirs.htm
9641                           http://web.hal.com/~btsai/
9642       http://www.tufts.edu/~bhasselb/california.html
9643    http://www.softel.gda.pl/internet/swiat/Compan...
9644                   http://www.a2znet.com/yellow.shtml
9645        http://www.csua.berkeley.edu/~davem/play.html
9646                  http://link-o-mania.com/comhard.htm
9647    http://www.infopages.com/listings/business/oth...
9648                        http://www.occn.org/links.htm
9649         http://sunspot.nosc.mil/common/sandiego.html
9650               http://wweb.net/comart/occn/links.html
9651                  http://www.cologneguy.com/links.htm
9652    http://www.baker.com/grand-unification-theory/...
9653    http://www.inf.fu-berlin.de/~kiefer/bookmarks....
9654                      http://www.fishnet.net/fun.html
9655                           http://www.fleamarket.net/
9656    http://www-cs-students.stanford.edu/~tsmith/ho...
9657                 http://wwwiz.com/home/wiz/index.html
9658                            http://remco.com/fun.html
9659    http://www.spd.louisville.edu/~mejenn01/handy....
9660                        http://www.maxwellstreet.org/
9661                    http://village.ios.com/~internet/
9662                                http://www.meats.net/
9663    http://www.cs.ucl.ac.uk/external/P.Dourish/hot...
Name: link, Length: 9664, dtype: object

In [52]:
# # df_note['link']
# df_link['source_link']
# for index in df_link['source_link']:
#     print(index)
grp=df_link.groupby('source_link')
grp.get_group('0')

   source_link target_link
0            0          449
1            0          450
2            0          451
3            0          452
4            0          453
5            0          454
6            0          455
7            0          456
8            0          432
9            0          457
10           0          458
11           0          459
12           0          460
13           0          461
14           0          462
15           0          463
16           0          464